/.vscode
/Authentication
/db.sqlite3
/Django_10am
/Django_10am (2).zip
/ecommerce
/Family
/firstapp
/ganesh
/Include
/Lib
/manage.py
/media
/myprojects
/NewProject
/ownproject
/practice
/pyvenv.cfg
/RestFramework
/Scripts
/secondapp
/static