<html>
    <head>
        <title>Django Project</title>
            <body style='background-color:rgb(150,0,200);'>
                <h3 style='color:white;font-family:verdana;font-size:20px;text-align:center;'>Welcome To Django Project</h3>
                <center><p style='color:white;'>If you want to know about Django, just click the below link. . . .<center></p>
                <center><button style='border:2px solid blue;border-radius:10px;'><a style='color:maroon;text-decoration:none;'href='paragraph.html'>Click Here</a></button></center>
            </body>
    </head>
</html>