{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropDownPage</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .column{
            float: left;
            width: 33.33%;
            padding: 5px;
        }
       
    </style>
</head>
<body>

    <div class="row">
        <div class="column">
            <img src="{% static 'images\5.jpg'%}" alt="">
        </div>
        <div class="column">
            <img src="{%static 'images\2.jpg'%}" alt="">
        </div>
        <div class="column">
            <img src="{%static 'images\3.jpg'%}" alt="">
        </div>
        <div class="column">
            <img src="{%static 'images\4.jpg'%}" alt="">
        </div>
    </div>
</body>
</html>